{% extends "boiler/layout.html" %}



{% block body%}

{% if boilerOn %}

<h1>
    Boiler encendido
    <p>
    {{boilerOn}}
    inicio: {{boilerOn.hour}}:{{boilerOn.minutes}} duracion {{boilerOn.duration}} 
    </p>
</h1>
{%else%}
<h1>Boiler apagado</h1>
{%endif%}

<form action="{%url 'index'%}" method="post">
    {% csrf_token %} 
    {%if boilerOn%}
    <input type="submit" name="onoff" value="Apagar">
    {%endif%}
    {{form}}
    <input type="submit" name = "onoff" value="Encender">
</form>


{%if programs%}

<form action="{%url 'index'%}" method="post">
        {% csrf_token %} 
        <p>Programación
             <input type="submit" name = "borrar" value="Borrar"> 
             <label><input type="checkbox" name="todos" id="todos"> Todos</label>
        </p>
        {%for program in programs%}
            <li>
                <label><input type="checkbox" name="programs" value="{{program.id}}"> {{ program }}</label>
            </li>
        {%endfor%}
    </ul>
</form>

{%else%}
    <h2>No hay nada programado</h2>
{% endif %}


</form>


<a href="{%url 'addProgram' %}"> Nuevo Programa</a>


{%endblock%}